.navbar {
    padding: 0.5em 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-color1) 1px solid;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navElements {
    color: var(--color3);
    font-size: 1em;
    cursor: pointer;
}

.sellerButton {
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 2em;
    padding: 0.8em;
    color: var(--color3);
    background-color: transparent;
    border: 1px var(--border-color1) solid;
}
.iconsContainer {
    display: flex;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.profileContainer p {
    font-size: 1.2em;
    color: var(--color3);
}

.profileIcon {
    font-size: 1.5em;
    color: var(--color3);
}

.profileImage {
    border-radius: 100%;
    width: 2em;
}

.dropdownMenu {
    position: absolute;
    border: 1px var(--border-color1) solid;
    background-color: var(--color2);
    right: 0;
    width: 20em;
    border-radius: 1em;
}

.dropdownMenu li {
    display: flex;
    align-items: center;
    padding: 1em 1.5em;
    gap: 1em;
    border-bottom: 1px var(--border-color2) solid;
}

.dropdownMenu li p {
    font-size: 1rem;
}

.dropdownMenu li:hover {
    background-color: var(--hover-color1);
    border-radius: 1em;
}

.shoppingCartIcon {
    position: relative;
    font-size: 1.5em;
    color: var(--color3);
    cursor: pointer;
}