.bannerEditForm {
    left: 18%;
    width: 40%;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.formInput {
    padding: 1em;
    border: 1px solid var(--border-color1);
    border-radius: 0.5em;
    outline: none;
}

.formInput[type="file"] {
    cursor: pointer;
}

.addButton {
    padding: 1em;
    background-color: var(--color1);
    color: var(--color2);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    width: 30%;
}